# Dependencias
node_modules/
vendor/
# Ignorar configuración local de Roo
.roo/

# Archivos de entorno
.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cachés y builds
.cache/
dist/
build/
tmp/

# SO
.DS_Store
Thumbs.db
